<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sudoku</title>
    <link
      type="image/x-icon"
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='icon.png') }}"
    />
    <!-- Apple Touch Icon for iOS Home Screen -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='icon.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <header>
    <h1>Sudoku Puzzle</h1>
  </header>
  </head>
  <main>
  <body>
    <div id="container">
      <div id="numbers-container">
        <!-- Filled numbers will appear here -->
      </div>
      <table>
        {% for row_index in range(puzzle|length) %}
        <tr>
          {% for col_index in range(puzzle[row_index]|length) %}
          <td
            class="{% if row_index % 3 == 0 and col_index % 3 == 0 and not (col_index not in [1,4,7]) %}thick-border{% endif %}"
          >
            {% if puzzle[row_index][col_index] == 0 %}
            <input
              type="number"
              class="sudoku-input"
              data-row="{{ row_index + 1 }}"
              data-col="{{ col_index + 1 }}"
              oninput="checkInput(this)"
              pattern="[0-9]*"
              inputmode="numeric"
              maxlength="1"
            />
            {% else %} {{ puzzle[row_index][col_index] }}
            <!-- Display the number directly -->
            {% endif %}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
      <div id="info-container">
        <div id="lives-container">
          {% for i in range(lives) %}
          <span class="life">❤️</span>
          {% endfor %}
        </div>

        <div id="hints-container">
          {% for i in range(hints) %}
          <span class="hint">🔍</span>
          {% endfor %}
        </div>
      </div>
    </div>
    <div id="number-buttons-container">
      <button class="number-button" data-value="1">1</button>
      <button class="number-button" data-value="2">2</button>
      <button class="number-button" data-value="3">3</button>
      <button class="number-button" data-value="4">4</button>
      <button class="number-button" data-value="5">5</button>
      <button class="number-button" data-value="6">6</button>
      <button class="number-button" data-value="7">7</button>
      <button class="number-button" data-value="8">8</button>
      <button class="number-button" data-value="9">9</button>
    </div>

    <input type="hidden" id="answer" value="{{ answer | tojson }}" />
    <div
      id="message"
      style="text-align: center; margin-top: 20px; font-size: 20px"
    ></div>

    <div class="button-container">
      <button onclick="revealNumber()">Hint</button>
      <button onclick="newPuzzle()">New</button>
      <button id="remove-button">Remove</button>
    </div>
  </main>

    <!-- Link to the external script -->
    <script src="{{ url_for('static', filename='js/sudoku.js') }}"></script>
  </body>
</html>
